* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --bg-color: #2a2141;
    --color-titulo-musica: #e1e1e6;
}

body {
    background: var(--bg-color);
}

#container {
    width: 189.659px;
    margin: 38.4px auto;
}

#container img {
    width: 189.659px;
    height: 189.659px;
    margin-bottom: 28.81px;
}

#container h3 {
    color: var(--color-titulo-musica);
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}
